<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Business VLT</p>
                      <h3 class="card-title">20
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!--<i class="material-icons text-danger">warning</i> -->
                          <i class="material-icons">date_range</i> aggiornamento al 18/11/2021 12:05:00
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Clienti attivi</p>
                      <h3 class="card-title">3.050</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> su 3.510
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Garanzie in scadenza</p>
                      <h3 class="card-title">15</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">money</i> Totale € 12.500,00
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                            <i class="material-icons">announcement</i>
                      </div>
                      <p class="card-category">Integrazioni / Rinnovi</p>
                      <h3 class="card-title">23</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Nuovi prospect</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> incremento questa settimana</p> 
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> aggiornato 4 minuti fa
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Clienti attivi</h4>
                      <p class="card-category">andamento annuo</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> aggiornato 4 minuti fa
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Garanzie in scadenza</h4>
                      <p class="card-category">ultimo mese</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> aggiornato 4 minuti fa
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Prospect</h4>
                    <p class="card-category">top 5 nuovi prospect al 18 Novembre, 2021</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Codice</th>
                            <th>Name</th>
                            <th>Business</th>
                            <th>Stato</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>XXXXXXX</td>
                                <td>Prospect 1</td>
                                <td>VLT</td>
                                <td><span class="label label-default">In valutazione</span></td>
                            </tr>
                            <tr>
                                <td>YYYYYYY</td>
                                <td>Prospect 2</td>
                                <td>AWP</td>
                                <td><span class="label label-primary">OK merito c.</span></td>
                            </tr>
                            <tr>
                                <td>ZZZZZZZ</td>
                                <td>Prospect 3</td>
                                <td>VLT - AWP</td>
                                <td><span class="label label-danger">KO merito c.</span></td>
                            </tr>
                            <tr>
                                <td>KKKKKKK</td>
                                <td>Prospect 4</td>
                                <td>AWP</td>
                                <td><span class="label label-success">Contrattualizzato</span></td>
                            </tr>
                            <tr>
                                <td>HHHHHHH</td>
                                <td>Prospect 4</td>
                                <td>AWP</td>
                                <td><span class="label label-warning">Altra doc.</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Clienti</h4>
                      <p class="card-category">Clienti al 18 Novembre, 2021</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Codice</th>
                              <th>Name</th>
                              <th>Garanzie</th>
                              <th>Stato</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>AAAAAAAA</td>
                                  <td>Cliente 1</td>
                                  <td>€ 36.738</td>
                                  <td><span class="label label-default">Valutazione garanzie</span></td>
                              </tr>
                              <tr>
                                  <td>BBBBBBBB</td>
                                  <td>Cliente 2</td>
                                  <td>€ 23,789</td>
                                  <td><span class="label label-warning">Uleriori garanzie</span></td>
                              </tr>
                              <tr>
                                  <td>CCCCCCCC</td>
                                  <td>Cliente 3</td>
                                  <td>€ 56.142</td>
                                  <td><span class="label label-success">Attivo</span></td>
                              </tr>
                              <tr>
                                  <td>DDDDDDDD</td>
                                  <td>Cliente 4</td>
                                  <td>€ 38.735</td>
                                  <td><span class="label label-info">Garanzie in scadenza</span></td>
                              </tr>
                              <tr>
                                <td>EEEEEEEEEE</td>
                                <td>Cliente 5</td>
                                <td>€ 38.735</td>
                                <td><span class="label label-danger">Valutazione negativa</span></td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
