<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Dettaglio Autorizzazione</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field appearance="fill" class="px-0">
                                    <mat-label>Ruolo</mat-label>
                                    <mat-select [formControl]="ruoloCtrl" [(ngModel)]="defRuoloId" name="ruolo">
                                        <mat-option *ngFor="let item of listRuoliUtenti" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="ruoloCtrl.invalid">{{getRuoloErrorMessage()}}</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field appearance="fill" class="px-0">
                                    <mat-label>Workflow Step</mat-label>
                                    <mat-select [formControl]="workflowStepCtrl" [(ngModel)]="defWorkflowStepId" name="workflowStep">
                                        <mat-option *ngFor="let item of listWorkflowStep" [value]="item.id">
                                            {{item.workflow.business}} - {{item.nomeStep}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="workflowStepCtrl.invalid">{{getWorkflowStepErrorMessage()}}</mat-error>
                                  </mat-form-field>
                                </div>
                            </div>
                            <button *ngIf="isEdit" mat-raised-button type="submit" class="btn btn-info pull-right" (click)="salvaWorkflowStepRole()">{{this.buttonTitle}}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>