h4.card-title {
    text-transform: capitalize;
}

.card [class*=card-header-] .card-title+.card-category {
    color: white;
}

.card-header.card-header-info .new-user-toggle {
    margin-left: auto;
    cursor: pointer;
}

.card-header.card-header-info.list {
    display: flex;
    align-items: center;

}

table.mat-table.custom {
    width: 100%;
}


table.mat-table.custom input {
    border: none;
}

button.btn.btn-info.pull-right.inoltra {
    background: orange;
    border-color: orange;
}

button.btn.btn-info.pull-right.approva {
    background: green;
    border-color: green;
}


button.btn.btn-info.pull-right.rifiuta {
    background: red;
    border-color: red;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
  }
  

  tfoot > tr > td {
    border: none !important;
}


mat-form-field.mat-form-field.search {
    width: 30%;
    margin-bottom: 1em;
}