<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Dettaglio Fattura: {{userLogged.selectedSocieta}}</h4>
                        <p class="card-category"> Stato: <span
                                style="font-weight: bold;">{{getFattureState(fattura.statoFattura)}}
                            </span></p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControl]="idFatturaCtrl" matInput placeholder="ID Fattura"
                                            type="text" id="codiceFattura" name="idFattura" [(ngModel)]="fattura.id"
                                            readonly>
                                        <!-- <mat-error *ngIf="codiceCorrispettivoCtrl.invalid">
                                            {{getCodiceCorispettivoErrorMessage()}}</mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input type="text" [formControl]="codiceClienteCtrl" matInput
                                            placeholder="Codice Cliente" type="text"
                                            [(ngModel)]="fattura.cliente.codiceCliente" [matAutocomplete]="auto"
                                            [readonly]="disabledField"
                                            (focusout)="getClientById($event, 'codiceCliente')"
                                            (keyup.enter)="getClientById($event, 'codiceCliente')">
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                            <mat-option
                                                *ngFor="let option of filteredOptions | async; let index = index;"
                                                [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControl]="denominazioneCtrl" matInput placeholder="Denominazione"
                                            type="text" id="denominazione" name="denominazione"
                                            [(ngModel)]="fattura.cliente.ragioneSociale"
                                            [matAutocomplete]="denominazione"
                                            (focusout)="getClientById($event, 'ragioneSociale')"
                                            [readonly]="disabledField"
                                            (keyup.enter)="getClientById($event, 'ragioneSociale')">
                                        <mat-autocomplete autoActiveFirstOption #denominazione="matAutocomplete">
                                            <mat-option
                                                *ngFor="let option of filteredOptionsDenominazione | async; let index = index;"
                                                [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <!-- <mat-error *ngIf="codiceCorrispettivoCtrl.invalid">
                                            {{getCodiceCorispettivoErrorMessage()}}</mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControl]="pIvaCtrl" matInput placeholder="P.IVA" type="text"
                                            [(ngModel)]="fattura.cliente.partitaIva" [matAutocomplete]="piva"
                                            [readonly]="disabledField" (focusout)="getClientById($event, 'partitaIva')"
                                            (keyup.enter)="getClientById($event, 'partitaIva')">
                                        <mat-autocomplete autoActiveFirstOption #piva="matAutocomplete">
                                            <mat-option
                                                *ngFor="let option of filteredOptionsPiva | async; let index = index;"
                                                [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <!-- <mat-error *ngIf="descrizioneCtrl.invalid">{{getDescrizioneErrorMessage()}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label> Tipologia di Fattura</mat-label>
                                        <mat-select [formControl]="tipoFatturaCtrl" [(value)]="fattura.tipologiaFattura"
                                            [disabled]="disabledField">
                                            <mat-option value="FA">
                                                FA - Fattura
                                            </mat-option>
                                            <mat-option value="NC">
                                                NC - Nota di Credito
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>


                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12" [formGroup]="addForm">
                <div class="card">
                    <div class="card-header card-header-info list">
                        <h4 class="card-title">Lista Dettaglio Fattura</h4>

                        <div class="new-user-toggle" *ngIf="fattura.statoFattura == '' && !isApproved">
                            <span (click)="onAddRow()" class="fa fa-plus-circle"></span>
                        </div>
                    </div>

                    <div class="form-group card-body" *ngIf="addForm.get('rows')?.controls.length > 0">
                        <mat-form-field class="search">
                            <input matInput [formControl]="searchCtrl" placeholder="Cerca per Articolo" />
                        </mat-form-field>
                        <table class="mat-table custom ">
                            <thead>
                                <tr class="mat-header-row">
                                    <th class="mat-header-cell mat-column-position"> Codice Articolo</th>
                                    <th class="mat-header-cell mat-column-position">Descrizione</th>
                                    <th class="mat-header-cell mat-column-position">Corrispettivo</th>
                                    <th class="mat-header-cell mat-column-position">Importo</th>
                                    <th class="mat-header-cell mat-column-position">Note</th>
                                    <th class="mat-header-cell mat-column-position"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="mat-row" *ngFor="let row of formArr$ | async;let index = index;">
                                    <td class="mat-cell mat-column-position" (click)="clearFilterCodiceArticolo(index)">
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <input #stateInput type="text" [formControl]="row.get('codiceArticolo')"
                                                matInput type="text" [matAutocomplete]="auto" [readonly]="disabledField"
                                                 (keyup)="checkCodiceArticolo(index, 'codiceArticolo', $event)">
                                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                                <mat-option *ngFor="let option of filteredOptionsArticoli | async"
                                                    [value]="option"
                                                    (onSelectionChange)="getArticoloById($event, index, 'codiceArticolo', stateInput.value)">
                                                    {{option}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="row.get('codiceArticolo').invalid">
                                                {{getValidFromErrorMessage(row.get('codiceArticolo'))}}</mat-error>
                                        </mat-form-field>

                                    </td>
                                    <td class="mat-cell mat-column-position" (click)="clearFilterDescription(index)">
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <input #stateInput [formControl]="row.get('descrizioneArticolo')" matInput
                                                type="text" [matAutocomplete]="descrizione" [readonly]="disabledField"
                                                (keyup)="checkCodiceArticolo(index, 'descrizione', $event)">
                                            <mat-autocomplete autoActiveFirstOption #descrizione="matAutocomplete">
                                                <mat-option
                                                    *ngFor="let option of filteredOptionsDescrizioneArticoli | async"
                                                    [value]="option"
                                                    (onSelectionChange)="getArticoloById($event, index, 'descrizione')">
                                                    {{option}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="row.get('descrizioneArticolo').invalid">
                                                {{getValidFromErrorMessage(row.get('descrizioneArticolo'))}}</mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td class="mat-cell mat-column-position" (click)="clearFilterCorrispettivo(index)">
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <input type="text" [formControl]="row.get('codiceCorrispettivo')" matInput
                                                type="text" [matAutocomplete]="corr" [readonly]="disabledField"
                                                (keyup)="checkCorrispettivo(index, $event)">
                                            <mat-autocomplete autoActiveFirstOption #corr="matAutocomplete"
                                                (optionSelected)="getCheckCorrispettivo($event, index) ">
                                                <mat-option *ngFor="let option of filteredOptionsCorrispettivi | async"
                                                    [value]="option">
                                                    {{option}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="row.get('codiceCorrispettivo').invalid">
                                                {{getValidFromErrorMessage(row.get('codiceCorrispettivo')) }}
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td class="mat-cell mat-column-position">
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <input type="text" (blur)="transformAmount($event, index)"
                                                [formControl]="row.get('importo')" min="0" matInput [readonly]="disabledField">
                                            <mat-error *ngIf="row.get('importo').invalid">
                                                {{getValidFromErrorMessage(row.get('importo'))}}</mat-error>
                                        </mat-form-field>

                                    </td>
                                    <td class="mat-cell mat-column-position">
                                        <mat-form-field class="example-full-width" appearance="none">

                                            <input matInput [formControl]="row.get('note')" [readonly]="disabledField">
                                            <mat-error *ngIf="row.get('note').invalid">
                                                {{getValidFromErrorMessage(row.get('note'))}}</mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td class="mat-cell mat-column-position">
                                        <i class="fa fa-trash" style="cursor:pointer"
                                            *ngIf="fattura.statoFattura == '' && !isApproved && action != 'view'"
                                            (click)="onRemoveRow(index)">
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Totale Fattura</td>
                                    <td></td>
                                    <td></td>
                                    <td> {{getSumTotal()}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>

                </div>

                <button
                    *ngIf="isEdit && userLogged.ruoloUtente.name === 'Approvatore' || userLogged.ruoloUtente.name === 'Admin' "
                    mat-raised-button type="
                    submit" class="btn btn-info pull-right approva" [hidden]="fattura.statoFattura != 'D'"
                    (click)="validaFattura()">Approva</button>
                <button
                    *ngIf="isEdit && userLogged.ruoloUtente.name === 'Approvatore' || userLogged.ruoloUtente.name === 'Admin' "
                    mat-raised-button type="
                    submit" class="btn btn-info pull-right rifiuta" (click)="rifiutaFattura()"
                    [hidden]="fattura.statoFattura != 'D'">Rifiuta</button>

                <button
                    *ngIf="isEdit && userLogged.ruoloUtente.name === 'Base' || userLogged.ruoloUtente.name === 'Admin' "
                    mat-raised-button type="submit" class="btn btn-info pull-right inoltra"
                    [disabled]="!rows.valid || !idFatturaCtrl.value || fattura.statoFattura != ''" (click)="inoltraFattura()">
                    Inoltra Fattura</button>
                <button
                    *ngIf="isEdit && userLogged.ruoloUtente.name === 'Base' || userLogged.ruoloUtente.name === 'Admin'  "
                    mat-raised-button type="
                    submit" class="btn btn-info pull-right salva" (click)="salvaFattura()"
                    [disabled]="!rows.valid || rows.length <= 0 || !codiceClienteCtrl.valid || !tipoFatturaCtrl.valid || (fattura.statoFattura != '' && fattura.statoFattura != 'R' && fattura.statoFattura != 'G' )">Salva
                    Fattura</button>


            </div>
        </div>
    </div>
</div>