.card-header
{
    min-height: 5rem;
}

.mat-button-wrapper svg
{
    width: 1.5rem !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex
{
    background-color: transparent;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background-color: #0fb7cb!important;
  }

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #0fb7cb;
}