<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		      <add input="{REQUEST_URI}" pattern="^/login" negate="true"/>
        </conditions>
        <action type="Rewrite" url="/PortaleCredito_API/" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>