.spaninfo {
    font-size: 1.2em;
    font-weight: bold;
}

.questionText
{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0rem;
}

.btnFooter
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.alertIcon
{
    font-size: 3rem;
    color: goldenrod;
    margin-left: 1rem;
    margin-top: 0.1rem;
}