<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Clienti <br>
                            <p class="card-category">aggiornato al {{ todayDate | date : 'dd MMMM yyyy' | titlecase }}
                            </p>
                        </h4>
                        <a href="javascript:;" [routerLink]="['/detail_customers', 'create', -1]"
                            class="new-user-toggle">
                            <span class="fa fa-plus-circle"></span>
                        </a>

                    </div>
                    <div class="card-body table-responsive">
                        <dx-data-grid id="PCCL" [dataSource]="dataSource"
                            [remoteOperations]="{ paging: true, filtering: true, sorting: true }"
                            [allowColumnReordering]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true"
                            [showBorders]="true" (onContentReady)="contentReady($event)"
                            (onToolbarPreparing)="onToolbarPreparing($event)" (onExporting)="onExporting($event)">

                            <dxo-selection mode="multiple" [allowSelectAll]="true" [selectAllMode]="'page'"
                                [showCheckBoxesMode]="'never'">
                            </dxo-selection>
                            <dxo-sorting mode="multiple"></dxo-sorting>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-state-storing [enabled]="true" type="custom" [customLoad]="tableStateLoad"
                                [customSave]="tableStateSave">
                            </dxo-state-storing>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-paging [pageSize]="25"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 75, 'all']"
                                [visible]="true"></dxo-pager>

                            <dxi-column dataField="codiceCliente" caption="Codice Cliente" alignment="center"
                                [allowHeaderFiltering]="false" [allowFiltering]="true" [allowSorting]="true"
                                tabindex="1" [cssClass]="hasFilter('codiceCliente') == true ? 'cell-highlight' : ''">
                            </dxi-column>


                            <dxi-column dataField="ragioneSociale" caption="Denominazione" alignment="center"
                                [allowHeaderFiltering]="false" [allowFiltering]="true" [allowSorting]="true"
                                tabindex="1" [cssClass]="hasFilter('ragioneSociale') == true ? 'cell-highlight' : ''">
                            </dxi-column>


                            <dxi-column dataField="partitaIva" caption="Partita IVA" alignment="center"
                                [allowHeaderFiltering]="false" [allowFiltering]="true" [allowSorting]="true"
                                tabindex="1" [cssClass]="hasFilter('partitaIva') == true ? 'cell-highlight' : ''">
                            </dxi-column>


                            <dxi-column dataField="codiceFiscale" caption="Codice Fiscale" alignment="center"
                                [allowHeaderFiltering]="false" [allowFiltering]="true" [allowSorting]="true"
                                tabindex="1" [cssClass]="hasFilter('codiceFiscale') == true ? 'cell-highlight' : ''">
                            </dxi-column>




                            <dxi-column caption="" alignment="center" [allowHeaderFiltering]="false"
                                [allowFiltering]="false" [allowSorting]="false" cellTemplate="tool" tabindex="6"
                                [cssClass]="hasFilter('id') == true ? 'cell-highlight' : ''">
                                <div *dxTemplate="let row of 'tool'" class="app-comandi" style="text-align: center;">


                                    <a href="javascript:;" (click)="deleteCliente(row.data.codiceCliente)">
                                        <span class="fa fa-trash-o"></span>
                                    </a>
                                    <a href="javascript:;"
                                        [routerLink]="['/detail_customers', 'view', row.data.codiceCliente]">
                                        <span class="fa fa-binoculars"></span>
                                    </a>
                                </div>
                            </dxi-column>

                            <div *dxTemplate="let data of 'totalCount'">
                                <div class="informer text-left pt-3 pb-3" style="float: left;">
                                    <div class="name">{{ clientiListOverview.totalCount }} Risultati trovati</div>
                                </div>
                                <div style="float: right;">
                                    <div class="dx-widget dx-button dx-button-mode-outlined dx-button-normal dx-button-has-icon dx-item dx-buttongroup-item dx-item-content dx-buttongroup-item-content dx-buttongroup-first-item dx-buttongroup-last-item dx-shape-standard dx-dropdownbutton-action dx-buttongroup-item-has-width"
                                        role="button" (click)="resetGrid()" title="Rimuovi filtri">
                                        <div class="dx-button-content my-dx-button">
                                            <i class="material-icons">layers_clear</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>