<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Dettaglio Scadenza Garanzia</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-9">
                                  <mat-form-field class="example-full-width">
                                    <input [formControl]="tipologiaCtrl" matInput placeholder="Tipologia" type="text" id="tipologia" name="tipologia" [(ngModel)]="scadenzeGiorniGaranzie.tipologia">
                                    <mat-error *ngIf="tipologiaCtrl.invalid">{{getTipologiaErrorMessage()}}</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input [formControl]="giorniCtrl" matInput placeholder="Giorni" type="number" id="giorni" name="giorni" [(ngModel)]="scadenzeGiorniGaranzie.giorni">
                                      <mat-error *ngIf="giorniCtrl.invalid">{{getGiorniErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button *ngIf="isEdit" mat-raised-button type="submit" class="btn btn-info pull-right" (click)="salvaScadenzeGiorniGaranzie()">{{this.buttonTitle}}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  