<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Dettaglio Corrispettivo</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControl]="codiceCorrispettivoCtrl" matInput
                                            placeholder="Codice Corrispettivo" type="text" id="codiceArticolo"
                                            name="codiceCorrispettivo" [(ngModel)]="corrispettivo.codiceCorrispettivo"  [readonly]="action == 'create' ? false : true">
                                        <mat-error *ngIf="codiceCorrispettivoCtrl.invalid" >
                                            {{getCodiceCorispettivoErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControl]="descrizioneCtrl" matInput placeholder="Descrizione"
                                            type="text" [(ngModel)]="corrispettivo.descrizione" [readonly]="action == 'create' || action == 'edit'? false : true" >
                                        <mat-error *ngIf="descrizioneCtrl.invalid">{{getDescrizioneErrorMessage()}}
                                        </mat-error>

                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Validit&agrave;</mat-label>
                                        <mat-date-range-input [rangePicker]="picker" [disabled]="!isEdit">
                                            <input [formControl]="validFromCtrl" matStartDate placeholder="Data Inizio"
                                                [(ngModel)]="corrispettivo.create_date">
                                            <input [formControl]="validToCtrl" matEndDate placeholder="Data Fine"
                                                [(ngModel)]="corrispettivo.dataValidita">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                        <mat-error *ngIf="validFromCtrl.invalid">{{getValidFromErrorMessage()}}
                                        </mat-error>
                                        <mat-error *ngIf="validToCtrl.invalid">{{getValidToErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button *ngIf="isEdit" mat-raised-button type="submit" class="btn btn-info pull-right"
                                (click)="salvaCorrispettivo()">{{this.buttonTitle}}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>