.tagBox
{
    float: left;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    padding: 0.7rem;
    min-width: 49%;
}

.tagBoxTitle
{
    font-weight: 600;
    color: #373737;
    font-size: 0.9rem;
    float: left;
    cursor: default;
    width: 100%;
    border-bottom: 1px solid #949494;
}

.tagBoxList
{
    float: left;
    width: 100%;
    list-style: square;
    padding-top: 0.4rem;
    padding-left: 1rem;
    margin-bottom: 0rem;
    cursor: default;
}

.tagBoxList > li
{
    padding: 0rem;
    color: #373737;
    margin-left: 0.7rem;
    font-size: 0.8rem;
    font-weight: 500;
}