<div class="main-content" >
  <div class="container-fluid">
    <h4 style="margin-top: -43px;margin-left: 500px; ">XXXXXXXX  <small class="text-info" style="font-weight: normal;">Mario Rossi s.r.l.</small></h4>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats" style="padding-bottom: 0px;">
              <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Insoluti cliente</p>
                  <h3 class="card-title" style="font-weight: 400;">3
                      
                  </h3>
              </div>
              <div class="card-footer" >
                  <div class="stats">
                      <i class="material-icons">sell</i> Totale esposizione <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 32.700,00</small>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats" style="padding-bottom: 0px;">
              <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">mail_outline</i>
                  </div>
                  <p class="card-category">Solleciti 1° livello</p>
                  <h3 class="card-title" style="font-weight: 400;">2</h3>
              </div>
              <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">sell</i> Totale <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 20.200,00</small>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats" style="padding-bottom: 0px;">
              <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">alternate_email</i>
                  </div>
                  <p class="card-category">Solleciti 2° livello</p>
                  <h3 class="card-title" style="font-weight: 400;">1</h3>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">sell</i> Totale <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 12.500,00</small>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats" style="padding-bottom: 0px;">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                        <i class="material-icons">announcement</i>
                  </div>
                  <p class="card-category">Incasso ricevuto</p>
                  <h3 class="card-title" style="font-weight: 400;">€3.000,00</h3>
              </div>
              <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">sell</i> Rimanenza <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 27.700,00</small>
                  </div>
              </div>
          </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
    
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">contacts</i>
              </div>
              <h4 class="card-title fbold">Rendiconto </h4>
              <button style="float: right;margin-top: -38px;" mat-raised-button="" mat-min-fab="" class="btn btn-rose btn-fab mat-raised-button mat-button-base">
                <span class="mat-button-wrapper"><i class="material-icons">lock_clock</i></span>
                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
             </button>
            </div>
          <div class="card-body " style="padding-top: 30px;">
              <div class="row" style="padding-left: 16px;padding-right: 16px;">
                  <div class="col-md-5 form-group bmd-form-group is-focused">
                    <label for="exampleEmails" class="bmd-label-floating">Cliente</label>
                    <input type="text" class="form-control " id="exampleEmails" required="true" name="emailadress" aria-required="true" value="XXXXXXXX">
                  </div>
                  <div class="col-md-5 form-group bmd-form-group is-focused" >
                    <label for="exampleSala" class="bmd-label-floating">Nome </label>
                    <input type="text" class="form-control" id="exampleSala" required="true" name="password" aria-required="true" value="Mario Rossi s.r.l.">
                  </div>
                  <div class="col-md-2 form-group bmd-form-group is-focused" >
                    <label for="examplePasswords" class="bmd-label-floating"> Business </label>
                    <div class="col-md-12" style="margin-top: 10px;"><span class="label label-info">AWP</span></div>
                  </div>
              </div>
            
           
              <div class="col-md-4 form-group bmd-form-group is-focused">
                <label for="exampleEmails" class="bmd-label-floating"> Corrente</label>
                <input type="text" class="form-control " id="exampleEmails" required="true" name="emailadress" aria-required="true" value="€ 12.500,00">
              </div>
              <div class="col-md-4 form-group bmd-form-group is-focused" >
                <label for="exampleSala" class="bmd-label-floating"> Scaduto </label>
                <input type="text" class="form-control" id="exampleSala" required="true" name="password" aria-required="true" value="€ 3.200,00">
              </div>
              <div class="col-md-4 form-group bmd-form-group is-focused" >
                <label for="examplePasswords" class="bmd-label-floating"> Esposizione </label>
                <input type="text" class="form-control text-rose" style="font-weight: 800;" id="examplePasswords" required="true" name="password" aria-required="true" value="€ 15.700,00">
              </div>

              <div class="col-md-4 form-group bmd-form-group is-focused">
                <label for="exampleEmails" class="bmd-label-floating"> CORRENTE <small>di cui gg di raccolta non presenti nel rendiconto </small> </label>
                <input type="text" class="form-control second-line" id="exampleEmails" required="true" name="emailadress" aria-required="true" value="">
              </div>
              <div class="col-md-4 form-group bmd-form-group is-focused" >
                <label for="exampleSala" class="bmd-label-floating"> CORRENTE <small>di cui residuo Pdr con effetti</small> </label>
                <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
              </div>
              <div class="col-md-4 form-group bmd-form-group is-focused" >
                <label for="examplePasswords" class="bmd-label-floating"> SCADUTO <small>(pdr con BB + ultimo rc consolidato + pregresso non dilazionato)</small> </label>
                <input type="text" class="form-control second-line" id="examplePasswords" required="true" name="password" aria-required="true" value="">
              </div>
              <div class="col-md-4 form-group bmd-form-group is-focused">
                <label for="exampleEmails" class="bmd-label-floating"> SCADUTO  <small>di cui ultimo Rendiconto (scaduto)  </small></label>
                <input type="text" class="form-control second-line" id="exampleEmails" required="true" name="emailadress" aria-required="true" value="">
              </div>
              <div class="col-md-4 form-group bmd-form-group is-focused" >
                <label for="exampleSala" class="bmd-label-floating"> SCADUTO <small> di cui residuo Pdr con BB non scaduto </small> </label>
                <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
              </div>
              <div class="col-md-4 form-group bmd-form-group is-focused" >
                <label for="examplePasswords" class="bmd-label-floating"> SCADUTO <small>di cui rata Pdr con bb scaduta e non pagata</small> </label>
                <input type="text" class="form-control second-line" id="examplePasswords" required="true" name="password" aria-required="true" value="">
              </div>
              
              <div class="col-md-4 form-group bmd-form-group is-focused">
                <label for="exampleEmails" class="bmd-label-floating"> SCADUTO  <small> di cui pregresso  </small></label>
                <input type="text" class="form-control second-line" id="exampleEmails" required="true" name="emailadress" aria-required="true" value="">
              </div>
              <div class="col-md-4 form-group bmd-form-group is-focused" >
                <label for="exampleSala" class="bmd-label-floating"> SCADUTO <small> effetto protestato </small> </label>
                <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
              </div>
              
          </div>
          <div class="row" style="padding-left: 30px;padding-right: 16px;margin-top: -10px;">
            <i class="material-icons text-rose">person</i>
            <label class="collector">Giovanni Arancione</label>
            <label class="collector" style="float: right;width: 70%;text-align: right;">Scadenza <small class="text-rose" style="font-weight: 800;"> 27/12/2021 </small></label>
          </div>
        </div>
    
      </div>

      <div class="col-md-6">
    
        <div class="card ">
          <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title fbold">Documenti</h4>
                <form class="navbar-form">
                  <div class="input-group no-border" style="width: 200px; margin-top: -50px;margin-left: 250px;padding-top: 7px;">
                    <input type="text" value="" placeholder="Search..." class="form-control">
                    <button mat-raised-button="" type="submit" class="btn btn-info btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                  </div>
                </form>



              <button style="float: right;margin-top: -46px;" mat-raised-button="" mat-min-fab="" class="btn btn-info btn-fab mat-raised-button mat-button-base">
                <span class="mat-button-wrapper"><i class="material-icons">note_add</i></span>
                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
             </button>
          </div>
          <div class="card-body " style="padding-top: 32px;padding-bottom: 19px;">
            <table class="table table-hover">
              
              <tbody>
                  <tr>
                      <td class="al_left document"><label class="doc-label">Fidejussione-bancaria.pdf</label><small class="doc-small2 text-info">tipo documento</small><small class="doc-small2 right text-gray">inserito il 10/11/2021 da Mario Rossi</small></td>
                      <td class="app-comandi document" style="text-align: center;"><a href="javascript:;"><span class="fa fa-binoculars"></span></a></td>
                  </tr>
                  <tr>
                    <td class="al_left document" ><label class="doc-label">Garanzia1.pdf</label><small class="doc-small2 text-info">tipo documento</small><small class="doc-small2 right text-gray">inserito il 05/11/2021 da Giuseppe Verdi</small></td>
                    <td class="app-comandi document" style="text-align: center;"><a href="javascript:;"><span class="fa fa-binoculars"></span></a></td>
                  </tr>
                  <tr>
                    <td class="al_left document"><label class="doc-label">Sottoscrizione garanzie.pdf</label><small class="doc-small2 text-info">tipo documento</small><small class="doc-small2 right text-gray">inserito il 28/10/2021 da Anna Rosa</small></td>
                    <td class="app-comandi document" style="text-align: center;"><a href="javascript:;"><span class="fa fa-binoculars"></span></a></td>
                  </tr>
                  <tr>
                    <td class="al_left document"><label class="doc-label">Contratto.pdf </label><small class="doc-small2 text-info">tipo documento</small><small class="doc-small2 right text-gray">inserito il 15/10/2021 da Mario Rossi</small></td>
                    <td class="app-comandi document" style="text-align: center;"><a href="javascript:;"><span class="fa fa-binoculars"></span></a></td>
                  </tr>
                  <tr>
                    <td class="al_left document"><label class="doc-label">Report-valutazione.pdf </label><small class="doc-small2 text-info">tipo documento</small><small class="doc-small2 right text-gray">inserito il 15/10/2021 da Luca Bianchi</small></td>
                    <td class="app-comandi document" style="text-align: center;"><a href="javascript:;"><span class=" fa fa-binoculars"></span></a></td>
                  </tr>
                  <tr>
                    <td class="al_left document"><label class="doc-label">Allegato1.pdf </label><small class="doc-small2 text-info">tipo documento</small><small class="doc-small2 right text-gray">inserito il 15/10/2021 da Mario Rossi</small></td>
                    <td class="app-comandi document" style="text-align: center;"><a href="javascript:;"><span class="fa fa-binoculars"></span></a></td>
                  </tr>
                  <tr>
                    <td class="al_left document"><label class="doc-label">Documento.pdf </label><small class="doc-small2 text-info">tipo documento</small><small class="doc-small2 right text-gray">inserito il 15/10/2021 da Luca Bianchi</small></td>
                    <td class="app-comandi document" style="text-align: center;"><a href="javascript:;"><span class=" fa fa-binoculars"></span></a></td>
                  </tr>
                  
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
    
        <div class="card ">
          <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">pending_actions</i>
              </div>
              <h4 class="card-title fbold">Garanzie</h4>
              <form class="navbar-form">
                <div class="input-group no-border" style="float:right;width: 200px; margin-top: -50px;margin-left: 250px;padding-top: 7px;">
                  <input type="text" value="" placeholder="Search..." class="form-control">
                  <button mat-raised-button="" type="submit" class="btn btn-warning btn-just-icon">
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                  </button>
                </div>
              </form>
          </div>
          <div class="card-body " style="padding-top: 32px;padding-bottom: 0;">
            <table class="table table-hover">
              
              <tbody>
                  <tr>
                      
                      <td class="al_left document"><label class="doc-label">Fidejussione XXXXYYYYY <small style="margin-right: 285px;font-size: 14px;float: right;" class="text-warning">€ 5.000,00</small></label>
                      <small class="gar-small text-info col-md-4" style="padding-left: 0;">Fidejussione bancaria</small><small class="gar-small gar-right text-gray col-md-4">Banca BNL</small><small class="gar-small gar-right text-gray col-md-3" style="padding-right: 0;" >del 10/11/2021</small></td>
                      
                  </tr>
                  <tr>
                    
                    <td class="al_left document"><label class="doc-label">Fidejussione ZZZ1223488 <small style="margin-right: 285px;font-size: 14px;float: right;" class="text-warning">€ 2.300,00</small></label>
                      
                      <small class="gar-small text-info col-md-4" style="padding-left: 0;">Fidejussione assicurativa</small><small class="gar-small gar-right text-gray col-md-4">AXA Assicurazioni</small><small class="gar-small gar-right text-gray col-md-3" style="padding-right: 0;" >del 10/11/2021</small></td>
                      
                  </tr>
                  <tr>
                    
                    <td class="al_left document"><label class="doc-label">Cambiale 23454654 <small style="margin-right: 285px;font-size: 14px;float: right;" class="text-warning">€ 3.250,00</small></label>
                      
                      <small class="gar-small text-info col-md-4" style="padding-left: 0;">Cambiale</small><small class="gar-small gar-right text-gray col-md-4">Banca Popolare di Milano</small><small class="gar-small gar-right text-gray col-md-3" style="padding-right: 0;" >del 10/11/2021</small></td>
                      
                  </tr>
                  <tr>
                    
                    <td class="al_left document"><label class="doc-label">Cambiale 1 <small style="margin-right: 285px;font-size: 14px;float: right;" class="text-warning">€ 1.200,00</small></label>
                      
                      <small class="gar-small text-info col-md-4" style="padding-left: 0;">Fidejussione bancaria</small><small class="gar-small gar-right text-gray col-md-4">Banca BNL</small><small class="gar-small gar-right text-gray col-md-3" style="padding-right: 0;" >del 10/11/2021</small></td>
                      
                  </tr>
                  <tr>
                    
                    <td class="al_left document"><label class="doc-label">Deposito <small style="margin-right: 285px;font-size: 14px;float: right;" class="text-warning">€ 1.600,00</small></label>
                      
                      <small class="gar-small text-info col-md-4" style="padding-left: 0;">Fidejussione bancaria</small><small class="gar-small gar-right text-gray col-md-4">Banca BNL</small><small class="gar-small gar-right text-gray col-md-3" style="padding-right: 0;" >del 10/11/2021</small></td>
                      
                  </tr>
                  
              </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
    
        <div class="card ">
          <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">note_alt</i>
              </div>
              <h4 class="card-title fbold">Storico note</h4>
              <form class="navbar-form">
                <div class="input-group no-border" style="width: 200px; margin-top: -50px;margin-left: 250px;padding-top: 7px;">
                  <input type="text" value="" placeholder="Search..." class="form-control">
                  <button mat-raised-button="" type="submit" class="btn btn-primary btn-just-icon">
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                  </button>
                </div>
              </form>
              <button style="float: right;margin-top: -46px;" mat-raised-button="" mat-min-fab="" class="btn btn-primary btn-fab mat-raised-button mat-button-base">
                <span class="mat-button-wrapper"><i class="material-icons">post_add</i></span>
                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                <div class="mat-button-focus-overlay"></div>
             </button>
          </div>
          <div class="card-body perfect-scrollbar-on" style="padding-top: 16px;padding-bottom: 0;max-height: 277px;overflow-x: auto;margin-top: 15px;">
                <ul class="timeline timeline-simple" style="margin-top: 10px;">
                  <li class="timeline-inverted">
                    <div class="timeline-badge primary"><i class="material-icons">event_note</i></div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <!-- <span class="badge badge-danger">Some title</span></div> -->
                        <div class="timeline-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                          </div>
                          <h6 class="text-primary"> Mario Rossi 15/12/2021 11:51 </h6>
                        </div>
                      </div>
                      </li>
                      <li class="timeline-inverted">
                        <div class="timeline-badge info"><i class="material-icons">event_note</i></div>
                        <div class="timeline-panel">
                           <div class="timeline-heading">
                             <!-- <span class="badge badge-success">Another One</span></div> -->
                            <div class="timeline-body">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <h6 class="text-info"> Angela Verdi 15/12/2021 09:30 </h6>
                          </div>
                        </div>
                     </li>
                     <li class="timeline-inverted">
                        <div class="timeline-badge info"><i class="material-icons">event_note</i></div>
                        <div class="timeline-panel">
                           <!-- <div class="timeline-heading"><span class="badge badge-info">Another Title</span></div> -->
                           <div class="timeline-body">
                              <div class="timeline-body">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                            <h6 class="text-info"> Vittorio Green 13/12/2021 16:35 </h6>
                           </div>
                        </div>
                     </li>
                     </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="wizard-container" style="padding-top: 0px;">
          <wi-form  class="card wizard-card" data-color="orange" title="Stato"
           [formGroup]="profileForm" (submit)="onSubmit($event)"style="display: inline-block;">
            <wi-step title="1° Sollecito" formGroupName="type" class="tab-content">
                <div class="card col-md-6" style="float: left;margin-right: 10px;">
                  <div class="card-header card-header-warning card-header-icon ">
                    <div class="card-icon" style="padding:5px;"><i class="material-icons ">phone_in_talk</i></div>
                    <h4 class="card-title fbold " style="margin-top: -4px !important;">Sollecito telefonico</h4>
                    <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Sollecito <input  type="checkbox" ><span  class="toggle text-warning"></span></label></div> 
                  </div>
                    <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                      <div class="col-md-3 form-group bmd-form-group is-focused" style="margin-top: 10px;" ></div>
                      <!-- <div class="col-md-3 form-group bmd-form-group is-focused" style="margin-top: 10px;" >
                        <label for="exampleSala" class="bmd-label-floating"> Sollecito telefonico </label>
                        <div  class="togglebutton text-warning" style="margin-top: 10px;"><label ><input  type="checkbox" ><span  class="toggle text-warning"></span></label></div>
                      </div> -->
                      <div class="col-md-5 form-group bmd-form-group is-focused" >
                        <label for="exampleSala" class="bmd-label-floating">Data sollecito telefonito</label>
                        <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                      </div>
                    </div>
                </div>

                <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;">
                  <div class="card-header card-header-warning card-header-icon ">
                    <div class="card-icon" style="padding:5px;"><i class="material-icons ">account_balance</i></div>
                    <h4 class="card-title fbold " style="margin-top: -4px !important;">Incasso</h4>
                    <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Incasso ricevuto <input  type="checkbox" ><span  class="toggle text-warning"></span></label></div> 
                  </div>
                    <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                      <div class="col-md-4 form-group bmd-form-group is-focused" >
                        <label for="exampleSala" class="bmd-label-floating"> Quota di incasso ricevuta</label>
                        <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                      </div>
                     
                      <div class="col-md-4 form-group bmd-form-group is-focused" >
                        <label for="exampleSala" class="bmd-label-floating"> Quota da incassare </label>
                        <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                      </div>
                      <div class="col-md-4 form-group bmd-form-group is-focused" >
                        <label for="exampleSala" class="bmd-label-floating">Data incasso</label>
                        <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                      </div>
                    </div>
                </div>


                <div class="card col-md-6" style="float: left;margin-right: 10px;">
                  <div class="card-header card-header-warning card-header-icon ">
                    <div class="card-icon" style="padding:5px;"><i class="material-icons ">mail_outline</i></div>
                    <h4 class="card-title fbold " style="margin-top: -4px !important;">Email <small class="text-danger" style ="margin-left: 10px;font-size: 12px;font-weight: 300;" >sollecito non ancora inviato</small></h4>
                    <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Invia Sollecito <input  type="checkbox" ><span  class="toggle text-warning"></span></label></div> 
                  </div>
                    <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                      <div class="col-md-12 form-group bmd-form-group is-focused" >
                        <label for="exampleSala" class="bmd-label-floating"> Pec </label>
                        <input type="text" class="form-control" id="exampleSala" required="true" name="password" aria-required="true" value="FrancescoGalli@pec.it">
                        
                      </div>
                    <div class="col-md-12 form-group bmd-form-group is-focused">
                        <label for="exampleEmails" class="bmd-label-floating"> Corpo Email </label>
                        
                        <textarea class="form-control "  required="true" name="emailadress" aria-required="true" style="text-align: left;" rows="15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </textarea>
                        
                        <!-- <div  class="togglebutton" style="float:right;margin-top: 2px;"><label > Invia Sollecito <input  type="checkbox" ><span  class="toggle text-warning"></span></label></div>  -->
                      </div>
                    </div>
                </div>
                <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;max-height: 486px !important;">
                  <div class="card-header card-header-warning card-header-icon ">
                    <div class="card-icon" style="padding:5px;"><i class="material-icons ">mail_outline</i></div>
                    <h4 class="card-title fbold " style="margin-top: -4px !important;">Deroga</h4>
                    <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Deroga <input  type="checkbox" ><span  class="toggle text-warning"></span></label></div> 
                  </div>
                    <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                      <!-- <div class="col-md-12 form-group bmd-form-group is-focused" >
                        <label for="exampleSala" class="bmd-label-floating"> Deroga </label>
                        <div  class="togglebutton text-warning" style="margin-top: 10px;"><label ><input  type="checkbox" ><span  class="toggle text-warning"></span></label></div>
                      </div> -->
                    <div class="col-md-12 form-group bmd-form-group is-focused">
                        <label for="exampleEmails" class="bmd-label-floating"> Note Deroga </label>
                        <textarea class="form-control "  required="true" name="emailadress" aria-required="true" style="text-align: left;" rows="18">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </textarea>
                      </div>
                    </div>
                </div>

            </wi-step>
            <wi-step title="2° Sollecito (Pec)" formGroupName="about-Person1" class="tab-content text-primary">
              <div class="card col-md-6" style="float: left;margin-right: 10px;">
                <div class="card-header card-header-primary card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">alternate_email</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Pec<small class="text-danger" style ="margin-left: 10px;font-size: 12px;font-weight: 300;" >sollecito non ancora inviato</small></h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Invia Sollecito <input  type="checkbox" ><span  class="toggle text-primary"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-12 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Pec </label>
                      <input type="text" class="form-control" id="exampleSala" required="true" name="password" aria-required="true" value="FrancescoGalli@pec.it">
                      
                    </div>
                  <div class="col-md-12 form-group bmd-form-group is-focused">
                      <label for="exampleEmails" class="bmd-label-floating"> Corpo Email </label>
                      <textarea class="form-control "  required="true" name="emailadress" aria-required="true" style="text-align: left;" rows="15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </textarea>
                      
                    </div>
                  </div>
              </div>

              <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;">
                <div class="card-header card-header-primary card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">account_balance</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Incasso</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Incasso ricevuto <input  type="checkbox" ><span  class="toggle text-primary"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota di incasso ricevuta</label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                   
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota da incassare </label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data incasso</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>

              <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;height: 269px !important;">
                <div class="card-header card-header-primary card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">mail_outline</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Deroga</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Deroga <input  type="checkbox" ><span  class="toggle text-primary"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <!-- <div class="col-md-12 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Deroga </label>
                      <div  class="togglebutton" style="margin-top: 10px;"><label ><input  type="checkbox" ><span  class="toggle text-primary"></span></label></div>
                    </div> -->
                  <div class="col-md-12 form-group bmd-form-group is-focused">
                      <label for="exampleEmails" class="bmd-label-floating"> Note Deroga </label>
                      <textarea class="form-control "  required="true" name="emailadress" aria-required="true" style="text-align: left;" rows="8">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </textarea>
                    </div>
                  </div>
              </div>
            </wi-step>
            <wi-step title="Pre-blocco" formGroupName="about-Business1" class="tab-content">
              <div class="card col-md-6" style="float: left;margin-right: 10px;">
                <div class="card-header card-header-info card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">mark_email_read</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Richiesta Pre/Blocco</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Invio richiesta <input  type="checkbox" ><span  class="toggle text-info"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-3 form-group bmd-form-group is-focused" style="margin-top: 10px;" ></div>
                    
                    <div class="col-md-5 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data invio richiesta</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
              <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;">
                <div class="card-header card-header-info card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">account_balance</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Incasso</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Incasso ricevuto <input  type="checkbox" ><span  class="toggle text-info"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota di incasso ricevuta</label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                   
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota da incassare </label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data incasso</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
            </wi-step>

            <wi-step title="Blocco" formGroupName="about-Business1" class="tab-content">
              <div class="card col-md-6" style="float: left;margin-right: 10px;">
                <div class="card-header card-header-danger card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">lock</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Blocco</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Notifica uff. rete e vendite <input  type="checkbox" ><span  class="toggle text-danger"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-3 form-group bmd-form-group is-focused" style="margin-top: 10px;" ></div>
                    
                    <div class="col-md-5 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Percentuale blocco</label>
                      <input type="number" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
              <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;">
                <div class="card-header card-header-danger card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">account_balance</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Incasso</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Incasso ricevuto <input  type="checkbox" ><span  class="toggle text-danger"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota di incasso ricevuta</label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                   
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota da incassare </label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data incasso</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
            </wi-step>
            <wi-step title="Convocazione" formGroupName="address2" class="tab-content">
              <div class="card col-md-6" style="float: left;margin-right: 10px;">
                <div class="card-header card-header-info card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">person_pin</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Invio Convocazione</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Mancata presentazione <input  type="checkbox" ><span  class="toggle text-info"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-3 form-group bmd-form-group is-focused" style="margin-top: 10px;" ></div>
                    
                    <div class="col-md-5 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data convocazione</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
              <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;">
                <div class="card-header card-header-info card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">account_balance</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Incasso</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Incasso ricevuto <input  type="checkbox" ><span  class="toggle text-info"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota di incasso ricevuta</label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                   
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota da incassare </label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data incasso</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
            </wi-step>
            <wi-step title="Invio Diffida" formGroupName="aboutDummy2" class="tab-content">
              <div class="card col-md-6" style="float: left;margin-right: 10px;">
                <div class="card-header card-header-rose card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">history_edu</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Invio diffida</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Notitifca area sales <input  type="checkbox" ><span  class="toggle text-rose"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-3 form-group bmd-form-group is-focused" style="margin-top: 10px;" ></div>
                    
                    <div class="col-md-5 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Scadenza diffida</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
              <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;">
                <div class="card-header card-header-rose card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">account_balance</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Incasso</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Incasso ricevuto <input  type="checkbox" ><span  class="toggle text-rose"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota di incasso ricevuta</label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                   
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota da incassare </label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data incasso</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
            </wi-step>
           
            <wi-step title="Legale" formGroupName="address2" class="tab-content">
              <div class="card col-md-6" style="float: left;margin-right: 10px;">
                <div class="card-header card-header-primary card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">gavel</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Passaggio al legale</h4>
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    <div class="col-md-3 form-group bmd-form-group is-focused" style="margin-top: 10px;" ></div>
                    
                    <div class="col-md-5 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data passaggio al legale</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
              <div class="card col-md-6" style="float: left;margin-left: 10px;max-width: 48%;">
                <div class="card-header card-header-primary card-header-icon ">
                  <div class="card-icon" style="padding:5px;"><i class="material-icons ">account_balance</i></div>
                  <h4 class="card-title fbold " style="margin-top: -4px !important;">Incasso</h4>
                  <div  class="togglebutton" style="float:right;margin-top: -27px;margin-right: -23px;"><label > Incasso ricevuto <input  type="checkbox" ><span  class="toggle"></span></label></div> 
                </div>
                  <div class="card-body " style="padding-top: 16px; padding-bottom: 0;">
                    
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota di incasso ricevuta</label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                   
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating"> Quota da incassare </label>
                      <input type="text" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="">
                    </div>
                    <div class="col-md-4 form-group bmd-form-group is-focused" >
                      <label for="exampleSala" class="bmd-label-floating">Data incasso</label>
                      <input type="date" class="form-control second-line" id="exampleSala" required="true" name="password" aria-required="true" value="27/12/2021">
                    </div>
                  </div>
              </div>
            </wi-step>
          </wi-form>

          
        </div>
      </div>
    </div>
  </div>
</div>