<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats" onclick="javascript:window.location.href = '#/insoluti'">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">switch_account</i>
                      </div>
                      <p class="card-category">Clienti insoluti</p>
                      <h3 class="card-title">15
                          
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!--<i class="material-icons text-danger">warning</i> -->
                          <i class="material-icons">sell</i> Totale esposizione <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 82.700,00</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats" onclick="javascript:window.location.href = '#/insoluti'">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">mail_outline</i>
                      </div>
                      <p class="card-category">Solleciti 1° livello</p>
                      <h3 class="card-title">6</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">sell</i> Totale esposizione <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 21.500,00</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats" onclick="javascript:window.location.href = '#/insoluti'">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">alternate_email</i>
                      </div>
                      <p class="card-category">Solleciti 2° livello</p>
                      <h3 class="card-title">15</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">sell</i> Totale esposizione <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 61.200,00</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats" onclick="javascript:window.location.href = '#/insoluti'">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                            <i class="material-icons">announcement</i>
                      </div>
                      <p class="card-category">Clienti bloccati</p>
                      <h3 class="card-title">3</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Aggiornato il 15/12/2021 alle ore 12:30
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart_insoluti"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Insoluto <small>andamento della settimana</small></h4>
                      <p class="card-category">
                          <span class="text-danger"><i class="fa fa-long-arrow-up"></i> 55% </span> incremento questa settimana</p> 
                  </div>
                  <div class="card-footer" style="margin-bottom: 0px;">
                      <div class="stats">
                          <i class="material-icons">access_time</i> aggiornato 4 minuti fa
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart_insoluti"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Clienti insoluti</h4>
                      <p class="card-category"><span class="text-success"><i class="fa fa-long-arrow-down"></i> 12% </span> rispetto lo scorso anno</p> 
                  </div>
                  <div class="card-footer" style="margin-bottom: 0px;">
                      <div class="stats">
                          <i class="material-icons">access_time</i> aggiornato 4 minuti fa
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart_insoluti"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Solleciti in scadenza</h4>
                      <p class="card-category">ultimo mese</p>
                  </div>
                  <div class="card-footer" style="margin-bottom: 0px;">
                      <div class="stats">
                          <i class="material-icons">access_time</i> aggiornato 4 minuti fa
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" onclick="javascript:window.location.href = '#/insoluti'">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">N° insoluti</p>
                    <h3 class="card-title">25
                        
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <!--<i class="material-icons text-danger">warning</i> -->
                        <i class="material-icons">percent</i> media per cliente <small class="text-danger" style="font-size: 11px;margin-left: 5px;">1,6</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" onclick="javascript:window.location.href = '#/insoluti'">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">collections_bookmark</i>
                    </div>
                    <p class="card-category">VLT</p>
                    <h3 class="card-title">6</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">sell</i> Totale esposizione <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 21.500,00</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" onclick="javascript:window.location.href = '#/insoluti'">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">collections_bookmark</i>
                    </div>
                    <p class="card-category">AWP</p>
                    <h3 class="card-title">9</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">sell</i> Totale esposizione <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 61.200,00</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" onclick="javascript:window.location.href = '#/insoluti'">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                          <i class="material-icons">gavel</i>
                    </div>
                    <p class="card-category">Legale</p>
                    <h3 class="card-title">3</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">sell</i> Totale esposizione <small class="text-danger" style="font-size: 11px;margin-left: 5px;">€ 51.100,00</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Insoluti</h4>
                    <p class="card-category">top 10 insoluti al 15 Dicembre, 2021</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Cliente</th>
                            <th class="al_center">Business</th>
                            <th class="al_center">Corrente</th>
                            <th class="al_center">Scaduto</th>
                            <th class="al_center">Esposizione</th>
                            <th class="al_center">Q.na riferimento</th>	
                            <th class="al_center">Scad. rendiconto</th>	
                            <th class="al_center">Stato</th>   
                        </thead>
                        <tbody>
                            <tr onclick="javascript:window.location.href = '#/detail_insoluti'">
                                <td ><label class="doc-label">2000031850</label><small class="doc-small text-info">MARIO ROSSI S.R.L.</small></td>
                                <td class="al_center"><span class="label label-info">AWP</span></td>
                                <td class="al_center">€ 20.500,00</td>     
                                <td class="al_center">€ 10.300,00</td> 
                                <td class="al_center txtbold">€ 30.800,00</td>
                                <td class="al_center">15/12/2021</td> 
                                <td class="al_center txtbold">27/12/2019</td>   
                                <td class="al_center"><span class="label label-warning">1° Sollecito</span></td>
                            </tr>
                            <tr onclick="javascript:window.location.href = '#/detail_insoluti'">
                                <td><label class="doc-label">2000031850</label><small class="doc-small text-info">GIUSEPPE VERDI S.P.A.</small></td>
                                <td class="al_center"><span class="label label-success">VLT</span></td>
                                <td class="al_center">€ 20.500,00</td>     
                                <td class="al_center">€ 10.300,00</td> 
                                <td class="al_center txtbold">€ 30.800,00</td>
                                <td class="al_center">15/12/2021</td> 
                                <td class="al_center txtbold">27/12/2019</td>   
                                <td class="al_center"><span class="label label-default">Bloccato</span></td>
                            </tr>
                            <tr onclick="javascript:window.location.href = '#/detail_insoluti'">
                                <td><label class="doc-label">2000031850</label><small class="doc-small text-info">MARCO BIANCHI S.R.L.</small><span class="notification">2</span></td>
                                <td class="al_center"><span class="label label-info">AWP</span></td>
                                <td class="al_center">€ 20.500,00</td>     
                                <td class="al_center">€ 10.300,00</td> 
                                <td class="al_center txtbold">€ 30.800,00</td>
                                <td class="al_center">15/12/2021</td> 
                                <td class="al_center txtbold">27/12/2019</td>   
                                <td class="al_center"><span class="label label-primary">2° Sollecito</span></td>
                            </tr>
                            <tr onclick="javascript:window.location.href = '#/detail_insoluti'">
                                <td><label class="doc-label">2000031850</label><small class="doc-small text-info">ANNA ROSA S.R.L.</small></td>
                                <td class="al_center"><span class="label label-info">AWP</span></td>
                                <td class="al_center">€ 20.500,00</td>     
                                <td class="al_center">€ 10.300,00</td> 
                                <td class="al_center txtbold">€ 30.800,00</td>
                                <td class="al_center">15/12/2021</td> 
                                <td class="al_center txtbold">27/12/2019</td>   
                                <td class="al_center"><span class="label label-warning">1° Sollecito</span></td>
                            </tr>
                            <tr onclick="javascript:window.location.href = '#/detail_insoluti'">
                                <td><label class="doc-label">2000031850</label><small class="doc-small text-info">FRANCESCO GIALLI S.p.a.</small></td>
                                <td class="al_center"><span class="label label-success">VLT</span></td>
                                <td class="al_center">€ 20.500,00</td>     
                                <td class="al_center">€ 10.300,00</td> 
                                <td class="al_center txtbold">€ 30.800,00</td>
                                <td class="al_center">15/12/2021</td> 
                                <td class="al_center txtbold">27/12/2019</td>     
                                <td class="al_center"><span class="label label-primary">2° Sollecito</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
          <!-- <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Insoluti 2° Sollecito</h4>
                      <p class="card-category">top 5 insoluti al 15 Dicembre, 2021</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Codice</th>
                              <th>Name</th>
                              <th>Garanzie</th>
                              <th>Stato</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>AAAAAAAA</td>
                                  <td>Cliente 1</td>
                                  <td>€ 36.738</td>
                                  <td><span class="label label-default">Valutazione garanzie</span></td>
                              </tr>
                              <tr>
                                  <td>BBBBBBBB</td>
                                  <td>Cliente 2</td>
                                  <td>€ 23,789</td>
                                  <td><span class="label label-warning">Uleriori garanzie</span></td>
                              </tr>
                              <tr>
                                  <td>CCCCCCCC</td>
                                  <td>Cliente 3</td>
                                  <td>€ 56.142</td>
                                  <td><span class="label label-success">Attivo</span></td>
                              </tr>
                              <tr>
                                  <td>DDDDDDDD</td>
                                  <td>Cliente 4</td>
                                  <td>€ 38.735</td>
                                  <td><span class="label label-info">Garanzie in scadenza</span></td>
                              </tr>
                              <tr>
                                <td>EEEEEEEEEE</td>
                                <td>Cliente 5</td>
                                <td>€ 38.735</td>
                                <td><span class="label label-danger">Valutazione negativa</span></td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
